APP_ENV=development
SENTRY_DSN=

#* API (Axios + React Query)
API_BASE_URL=https://api.rnts-template.local/v1
API_USE_MOCKS=true
MEDIA_API_BASE_URL=https://node-file-apis-2.onrender.com

#* Facebook ID and Client Auth Token
FACEBOOK_APP_ID=
FACEBOOK_CLIENT_TOKEN=

#* Google Maps (Android + iOS Maps SDK)
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY

#* Sentry Auth Token
SENTRY_AUTH_TOKEN=

#* Android Release KeyStore Alias and Password
MYAPP_UPLOAD_KEY_ALIAS=
MYAPP_UPLOAD_STORE_PASSWORD=
MYAPP_UPLOAD_KEY_PASSWORD=
